name: "Main"
on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - main
      - dev

jobs:
  build:
    name: Lint, build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v2
        with:
          node-version: "14.4.0"
      - name: Install dependencies
        run: yarn install
      - name: Run linter
        run: yarn linter
      - name: Run formatter
        run: yarn format
      - name: Build Kusama
        run: yarn gen Kusama
      - name: Build Polkadot
        run: yarn gen Polkadot
