name: CI

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  ts-checks:
    uses: zondax/_workflows/.github/workflows/_checks-ts.yaml@v6
    permissions:
      contents: read
      pull-requests: write
      id-token: write
    with:
      enable_tests: true
      enable_typecheck: false
      enable_coverage: false
      test_command: 'test'
      lint_command: 'lint'
      format_command: 'format:check'
